# Your Cloudsmith token supplied by CipherStash
export CLOUDSMITH_TOKEN=

# The version of Lambda zips to download
export LAMBDA_VERSION=latest

# AWS account ID for CTS
export CTS_ACCOUNT_ID=

# The IDP provider that will generate user tokens.
# Either auth0 or okta.
export CTS_TOKEN_PROVIDER=auth0

# Your IDP URL (with a trailing slash)
# Example: https://demo-cipherstash.au.auth0.com/
export CTS_TOKEN_ISSUER=

# Name of an existing Route53 hosted zone to use for ACM and API GW
export CTS_ROUTE53_ZONE_NAME=

# AWS account ID for ZeroKMS
export ZEROKMS_ACCOUNT_ID=

# Name of an existing Route53 hosted zone to use for ACM and API GW
export ZEROKMS_ROUTE53_ZONE_NAME=

# Name of the AWS region for deployment of the resources
# Example: us-west-2
export AWS_REGION=

# Name of the AWS profile which is configured the the AWS CLI
export AWS_PROFILE=
